{% extends 'base_template.html' %}

{% block title %}
    Учебный комитет
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <h2 align="center">Учебная дисциплина "{{ discipline.name }}"</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="alert alert-primary small-alert" role="alert">
                <h5 align="center">
                    Основная информация
                </h5>
            </div>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Форма контроля:</th>
                        <td>{{ discipline.readable_control_form }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Теоритических часов:</th>
                        <td>{{ discipline.lecture_hours }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Практических часов:</th>
                        <td>{{ discipline.practice_hours }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-1"></div>

        <div class="col-6">
            <div class="alert alert-primary small-alert" role="alert">
                <h5 align="center">
                    Преподается на специальностях
                </h5>
            </div>

            {% if discipline.specialities %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Номер группы</th>
                            <th scope="col">Специальность</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for speciality_discipline in discipline.specialities %}
                                {% for group in speciality_discipline.speciality.study_groups %}
                                    <tr>
                                        <td>
                                            <a class="alert-link" href="/group/{{ group.id }}/">
                                                {{ group.number }}
                                            </a>
                                        </td>
                                        <td>
                                            <a class="alert-link" href="/speciality/{{ speciality_discipline.speciality.id }}/">
                                                {{ speciality_discipline.speciality.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                </table>
            {% else %}
                <div align="center">
                    Информации об учебных группах не найдено
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
