{% extends 'app/base_template.html' %}

{% block title %}
    Учебный комитет
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="alert alert-primary" role="alert">
                <h2 align="center">{{ speciality.name }}</h2>
                <h4 align="center">{{ speciality.faculty.university.short_name }}, {{ speciality.faculty.name }}</h4>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="alert alert-primary small-alert" role="alert">
                <h5 align="center">
                    Список учебных дисциплин
                </h5>
            </div>
        </div>
    </div>
    {% if speciality.disciplines %}
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Название дисциплины</th>
                            <th scope="col">Форма контроля</th>
                            <th scope="col">Теоретических часов</th>
                            <th scope="col">Практических часов</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for discipline in speciality.disciplines %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a class="alert-link" href="/discipline/{{ discipline.id }}/">{{ discipline.name }}</a>
                                    </td>
                                    <td>{{ discipline.control_form }}</td>
                                    <td>{{ discipline.lecture_hours }}</td>
                                    <td>{{ discipline.practice_hours }}</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col" align="center">
                Информации об учебных дисциплинах не найдено
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="alert alert-primary small-alert" role="alert">
                <h5 align="center">
                    Список учебных групп
                </h5>
            </div>
        </div>
    </div>
    {% if speciality.study_groups %}
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Номер группы</th>
                            <th scope="col">Номер курса</th>
                            <th scope="col">Студентов в группе</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for group in speciality.study_groups %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a class="alert-link" href="/group/{{ group.id }}/">{{ group.number }}</a>
                                    </td>
                                    <td>{{ group.course_number }}</td>
                                    <td>{{ group.students|length }}</td>
                                </tr>
                           {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col" align="center">
                Информации об учебных группах не найдено
            </div>
        </div>
    {% endif %}
{% endblock %}
